body {
    margin: 20px;
    background-image: url("hotstar.jpg");
  }
  h1 {
    color:antiquewhite;
    text-align: center;
    font-style:oblique ;
    font-weight: 900;
    text-decoration: overline  whitesmoke;
  } 
  h2 {
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
  }
  p{
    color:rgb(238, 245, 245);
    text-align: left;
    word-spacing: 30px;
  }
  
  .container > div > img {
    height: 200px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  
  .flex-layout {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items:stretch;
 }
  